.logo {
  background-color: #f17070;
}

.nav {
  background-color: #f1de70;
}

.header {
  background-color: #70f1f1;
}

.main {
  background-color: #70f1a2;
}

.footer {
  background-color: #f170f1;
}